<%= tag.h1 "#{@list.user.username.capitalize}'s Gift Guide" %>

<%= tag.h2 "About #{@list.user.username.capitalize}'s Gift Guide:", id:"about-wishlist" %>
  <%= tag.div class:"big_box wishlist_desc" do %>
    <p id="p-desc"><%= @list.description %></p><%= tag.br %>
    <%= link_to "Edit", edit_list_path(@list), id:"js-edit-btn" if current_user == @list.user %>
  <% end %>

<% @list.gifts.each do |gift| %>
  <%= tag.div id:"gift-#{gift.id}", class:"gift_item" do %>
      <% if gift.users.include?(current_user) %>
        <%= tag.div class:"x" do %>
        <form data-id="<%= gift.id %>" class="js-remove-btn" method="post" action="<%= gifts_wishlist_path(gift) %>">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input class="delete_btn" type="submit" value="X">
        </form>
        <% end %>
      <% end %>
    <%= tag.div class:"item_box" do %>
      <%= tag.div class:"image_and_button" do %>
        <%= link_to (image_tag gift.image), gift_path(gift) %> <br><br>
        <form class="js-wishlist-review-btn" data-id="<%= gift.id %>" method="get" action="<%= gift_reviews_path(gift) %>">
          <input class="item_button" type="submit" value="Reviews">
        </form>
        <%= tag.br %>
        <%= add_a_wishlist_button(gift, "item") %>
      <% end %>
      <%= tag.div class:"gift_info" do %>
        <%= tag.h2 link_to "#{gift.name}", gift_path(gift) %>
        <%= tag.h3 "Description:" %><%= gift.description %> <br><br>
        <strong>Price:</strong> <%= number_to_currency(gift.price) %><br><br>
      <% end %>
    <% end %>
    <%= tag.div id:"gift-#{gift.id}-reviews", class:"wishlist-gift-reviews" do %>
    <% end %>
  <% end %>
<% end %>

<script id="wishlist-reviews-template" type="text/x-handlebars-template">
  <h2 class="reviews_title"> Reviews: </h2>
  {{#if reviews}}
    {{#each reviews}}
    <div class="gift-review">
      <strong>{{user.username}}</strong> on {{formatDate updated_at day="numeric" month="long" year="numeric"}} <br>
      <p class="rating">Rating: {{{display_rating stars}}} </p> <br><br>
      <p> Review: {{comment}} </p>
      <br>
    </div>
    {{/each}}
  {{else}}
    <p> Nobody's written anything yet.</p>
  {{/if}}
</script>
