<h1><%= @list.user.username.capitalize %>'s Wishlist</h1>

<%= tag.h2 "About #{@list.user.username.capitalize}'s Wishlist:" %>
  <%= tag.div class:"big_box wishlist_desc" do %>
    <%= @list.description %><%= tag.br %>
    <%= link_to "Edit", edit_list_path %>
  <% end %>

<ul class="gift_list">
  <% @list.gifts.each do |gift| %>
    <li><%= link_to (image_tag gift.image), gift_path(gift) %>
      <h4><%= link_to shorten_name(gift.name), gift_path(gift) %></h4>
          <%= button_to "Reviews", gift_reviews_path(gift), method: 'get', class:'card_button' %>
<% end %>
</ul>
