<%= form_for gift do |g| %>
  <%= g.label :name %>
  <%= g.text_field :name %> <br><br>
  <%= g.label "Price $" %>
  <%= g.text_field :price %> <br><br>
  <%= g.label "Image URL" %>
  <%= g.text_field :image %> <br><br>
  <%= g.label "Where to buy(URL)" %>
  <%= g.text_field :url %> <br><br>
  <%= g.label :description %>
  <%= g.text_area :description %> <br><br>

<h2>Pick a Category: </h2>
  <%= g.fields_for :categories do |cat| %>
    <%= cat.label :name %>
    <%= cat.text_field :name %>
  <% end %>

<%= g.submit %>
<% end %>
