<% if params[:gift_search] && params[:gift_search] != "" %>
  <%= tag.h1 "Results for #{params[:gift_search]}" %>

  <%= tag.h2 "From Other Gift Guides:" unless @gifts.empty? %>
  <%= render partial: 'gifts/gift_list', locals: {gifts: @gifts} %>

  <%= tag.h2 "From Amazon:" %>
  <%= render partial: 'gifts/aws_search', locals: {search_term: params[:gift_search]} %>

  <%= tag.h2 do %> Can't find what you're looking for? <%= link_to "Add your own gift", new_gift_path, id:"new-gift" %><% end %>

<% else %>
  <%= tag.h1 "Browse Gifts:" %>
  <%= render partial: 'gifts/gift_list', locals: {gifts: @gifts} %>
<% end %>

<script id="gift-card-template" type="text/x-handlebars-template">
  <li>
    <a href="gifts/{{id}}"><img src="assets/{{image}}"></a> <br>
    <a target="_blank" href="gifts/{{id}}">{{name}}</a>
    <a target="_blank" href="gifts/{{id}}">${{price}}</a>
    <form class="button_to" method="get" action="/lists/{{id}}">
      <input class="card_button_added" type="submit" value="On Your Wishlist">
    </form>
  </li>
</script>
