<%= content_tag :div, class:"form" do %>
  <%= form_for [review.gift, review] do |r| %>
    <%= r.label "Rate the Product" %>
    <%= r.radio_button :stars, 1 %><%= r.radio_button :stars, 2 %><%= r.radio_button :stars, 3 %><%= r.radio_button :stars, 4 %><%= r.radio_button :stars, 5 %> <br><br>
    <p><%= r.label "Tell us what you thought of this gift:" %></p>
    <%= r.text_area :comment %> <br><br>
    <%= r.submit class:"big_btn" %>
  <% end %>
<% end %>
