<%= content_tag :div, class: "review_item" do %>
  <strong><%= review.user.username %></strong> on <%= review.created_at.strftime("%b %d, %Y") %> <br>
  <p>Stars: <%= review.stars %> <br><br>
  Review: <%= review.comment %> </p>
  <%= button_to "Edit Review", edit_gift_review_path(review.gift, review), method: 'get', class: "edit_button" if review.user == current_user %>
<% end %>
