<%= content_tag :div, class: "review_item" do %>
  <%= tag.h2 link_to "#{review.gift.name}", gift_path(review.gift) %>
  <strong><%= review.user.username %></strong> on <%= formatted_updated_at review %> <br>
  <p class="rating">Rating: <%= review.display_rating %></p> <br><br>
  <p> Review: <%= review.comment %> </p>
  <%= button_to "Edit Review", edit_gift_review_path(review.gift, review), method: 'get', class: "big_btn" if review.user == current_user %>
<% end %>
