<h1>Reviews for: <%= @gift.name %> </h1>

<%= content_tag :div, class: "review_list" do %>
  <%= content_tag :div, class: "review_item" do %>
    <%= "No reviews here. Be the first to write one!" if @gift.reviews.length == 0 %>
  <% end %>

  <% @gift.reviews.each do |review| %>
    <%= render partial: 'reviews/review_item', locals: {review: review} %>
  <% end %>

  <%= button_to "Write a review", new_gift_review_path(@gift), method: 'get', class:'edit_button' if !current_user.wrote_a_review?(@gift) %>
<% end %>
