<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
        <%= render 'layouts/header' %>
        <%= render 'layouts/navbar' %>
    </header>

    <%= render 'layouts/welcome' if current_page?(root_path) %>

    <div class="wrapper">
      <div class="main">
        <% unless !current_page?(new_user_session_path) %>
          <% if notice || alert %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
